<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= object_name[:class_plural] %></title>
</head>
<body>

  <%%= stylesheet_link_tag 'getna' %>

  <div id="banner">
    <%=  object_name[:class_plural] %>
  </div>
  <div id="columns">
    <div id="side"></div>

    <div id="main">
    <%% if flash[:notice] -%>
      <div id="notice"><%%= flash[:notice] %></div>
    <%% end -%>
      <%%= yield :layout %>
    </div>
</div>
</body>
</html>
